mixin head(title)
    doctype html
    html(lang="en")
        head
            title=htmlWebpackPlugin.options.title
            meta(content="text/html;charset=utf-8", http-equiv="Content-Type")
            meta(content="utf-8", http-equiv="encoding")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            if htmlWebpackPlugin.options.inject === false
                each stylesheet in htmlWebpackPlugin.files.css
                    link(rel="stylesheet" type="text/css" href=`/${stylesheet}`)

mixin inline_style(styles)
    style !{styles.join('')}

mixin noscript
    noscript
        p="Javascript is disabled :("
        p="Please enable it for site to work."

-
    var links = [
        {title: "Home", url: "/"},
        {title: "Blog", url: "/blog/index.html"},
        {title: "Goodies", url: "/goodies.html"},
        {title: "Gallery", url: "/gallery.html"},
        {title: "Contacts", url: "/contacts.html"},
        {title: "CV", url: "/cv.html"}
    ]

mixin nav(selected_title)
    nav.nav
        each link in links
            if link.title.toLowerCase() == selected_title.toLowerCase()
                a.nav__link.nav__link--selected(href=link.url)=link.title
            else
                a.nav__link(href=link.url)=link.title
