include _common.pug
+head(title="C++ Tour")

-
    const links = [
        { title: "Twitter", href: "https://twitter.com/ArvidGerstmann", img: require('../img/icons/twitter.svg')},
        { title: "Github", href: "https://github.com/Leandros/cpp-tour", img: require('../img/icons/github.svg')},
        { title: "Slack", href: "https://cpplang.now.sh", img: require('../img/icons/slack.svg'), target: "_blank"}
    ]
    const default_page = {
        code: require('../../lessons/default/code.cpp'),
        text: require('../../lessons/default/text.adoc')
    }
    const lessons = htmlWebpackPlugin.options.lessons.map((lesson) => {
        // Return new object to avoid modifying original lessons data
        return {
            id: `${lesson.num_str}-${lesson.name.replace(' ', '-')}`,
            code: require('../../lessons/' + lesson.dir_name + '/code.cpp'),
            text: require('../../lessons/' + lesson.dir_name + '/text.adoc'),
            num: lesson.num_str,
            name: lesson.name
        }
    })

    let lessons_code = {
        '': default_page.code
    }

    for (lesson of lessons) {
        lessons_code[lesson.id] = lesson.code
    }

mixin sidebar_link(id, title)
    a.sidebar__item(href="#"+id)=title

// Init code data
script.
    window.LESSONS = !{JSON.stringify(lessons_code)}

body.layout
    // Page header
    nav.layout__header#header
        a.layout__header__menu.logo="C++ Tour"
        div
            each link in links
                a.bg-image.layout__header__icon(title=link.title, href=link.href, target=link.target, style=`background-image: url('${link.img}')`)
    div.layout__content
        // Content
        div.main#main
            div.main__content.content#left_pane
                each lesson in lessons
                    div.sub_page(id=lesson.id)!=lesson.text

                // Defaut page. Must be last.
                div.sub_page.default!=default_page.text

            div.main__compiler#right_pane
                div.main__compiler__editor#editor
                div.main__compiler__menu#editor_menu
                    button.button#reset="Reset"
                    button.button#run="Run"
                div.main__compiler__output
                    pre#output
                    pre#exitcode
                    pre#errmsg
                    pre#warnings

    // Sidebar
    div.sidebar#sidebar.hidden
        each lesson in lessons
            +sidebar_link(lesson.id, `${lesson.num}: ${lesson.name}`)

    +noscript
